{% extends 'base.html' %}

{% load static %}

{% block title %}Booking Form{% endblock %}

{% block styles %}
<style>
    body {
        background-color: var(--tertiary-01);
    }

    .addbooking {
        display: flex;
        align-items: center;
        height: 100vh;
        max-width: 100vh;
        justify-content: flex-start;
    }

    .addbooking .image-container {
        flex: 0 0 60%; 
        height: 100vh;
        display: flex;
        justify-content: left;
    }
    
    .addbooking .image-container img {
        height: 100%;
        width: auto;
        object-fit: cover;
    }

    .addbooking .form-container {
        text-align: left;
        padding-left: 5.5rem;
    }

    .addbooking .form-container .button {
        margin-top: 0.5rem;
    }
    
    .addbooking input, .form-container select {
        padding: 0.25rem;
        margin-top: 0.25rem;
    }

</style>
{% endblock %}

{% block content %}
<div class="addbooking"> 
    <div class="image-container">
        <img src="{% static 'img/flight_route_add.png' %}" alt="Flight Image">
    </div> 

    <div class="form-container">
        <h2>{% if object %}Update Booking{% else %}Create New Booking{% endif %}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button primary filled">Save</button>
            <a href="{% url 'flight_booking:booking_list' %}">
                <button class="button tertiary filled" type="button">Cancel</button> 
            </a>
        </form>
        <!-- <a href="{% url 'flight_booking:passenger_create' %}">
            <button class="button secondary filled" type="button">Create New Passenger</button>
        </a>
        <a href="{% url 'flight_booking:passenger_list' %}">
            <button class="button secondary filled" type="button">See Current Passengers</button>
        </a> -->
    </div>
</div>
{% endblock %}
