<!-- passenger_form.html -->
{% extends 'base.html' %}

{% load static %}

{% block styles %}
<style>
    body {
        background-color: var(--tertiary-01);
    }

    .addpassenger {
        display: flex;
        align-items: center;
        height: 100vh;
        max-width: 100vh;
        justify-content: flex-start;
    }

    .addpassenger .image-container {
        flex: 0 0 60%;
        height: 100vh;
        display: flex;
        justify-content: left;
    }

    .addpassenger .image-container img {
        height: 100%;
        width: auto;
        object-fit: cover;
    }

    .addpassenger .addpass {
        text-align: left;
        padding-left: 5.5rem;
        min-width: 500px;
        width: auto;
        overflow-wrap: break-word;
    }

    .addpassenger .addpass .header{
        color: var(--primary-08);
        margin-bottom: 10px;
    }

    .addpassenger .addpass a {
        text-decoration: none;
    }

    .addpassenger .addpass a:hover {
        text-decoration: underline;
    }

    .addpassenger .addpass button {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 4px;
    }

    .addpassenger .form-container p {
        text-decoration: none;
    }

    .addpassenger input, .addpass select {
        padding: 10px;
        margin-top: 5px;
    }

</style>
{% endblock %}

{% block title %}Passenger Form{% endblock %}

{% block content %}
<div class="addpassenger"> 
    <div class="image-container">
        <img src="{% static 'img/passengers.png' %}" alt="Passenger Image">
    </div>
    <div class="addpass">
        <h2 class="header">{% if object %}Update{% else %}Add New{% endif %} Passenger</h2>
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                    <p><strong>Name:</strong> {{ form.name }}</p>
                    <p><strong>Birth Date:</strong> {{ form.birth_date }}</p>
                    <p><strong>Gender:</strong> {{ form.gender }}</p>
                    <button type="submit" class="button primary filled">Save</button>
                    <a href="{% url 'flight_booking:passenger_list' %}">
                        <button class="button tertiary filled" type="button">Cancel</button> 
                    </a>
            </form>
        </div> 
    </div>
</div>
{% endblock %}