/* static/css/nav-bar.css */

/* Container for logo and navigation */
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue);
    padding: 1rem;
}

/* Logo styling */
.logo {
    width: 40px; /* Set your desired width for the logo */
    height: auto;
}

/* Navbar styling */
.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; /* Align icons and text */
}

/* Individual link styling */
.navbar a {
    color: var(--neutral-01);
    font-size: var(--subtitle-font-size);
    text-decoration: none;
    margin-right: 1.5rem;
    display: flex;
    align-items: center; /* Align icon with text */
}

.navbar a:hover {
    color: var(--blue-02);
}

/* Adjust spacing for list items */
.navbar li {
    margin-right: 1.5rem;
}
