.button {
    color: var(--button-enabled-color, white);
    background: var(--button-enabled-bg-color, black);
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

/* TODO update hover */
/* TODO add accents buttonts */
.button.primary.filled {
    --button-enabled-bg-color: var(--primary);
    --button-enabled-border-color: var(--primary);
    --button-hover-bg-color: var(--primary-07);
    --button-hover-border-color: var(--primary-07);
    --button-selected-bg-color: var(--primary-09);
    --button-selected-border-color: var(--primary-09);
}

.button.secondary.filled {
    --button-enabled-bg-color: var(--secondary);
    --button-enabled-border-color: var(--secondary);
    --button-hover-bg-color: var(--secondary-07);
    --button-hover-border-color: var(--secondary-07);
    --button-selected-bg-color: var(--secondary-09);
    --button-selected-border-color: var(--secondary-09);
}

.button.tertiary.filled {
    color: var(--primary);
    --button-enabled-bg-color: var(--tertiary-03);
    --button-enabled-border-color: var(--primary);
    --button-hover-bg-color: var(--tertiary-07);
    --button-hover-border-color: var(--tertiary-07);
    --button-selected-bg-color: var(--tertiary-09);
    --button-selected-border-color: var(--tertiary-09);
}

.button.enabled {
    color: var(--button-enabled-color);
    background: var(--button-enabled-bg-color);
    border-color: var(--button-enabled-border-color);
}

.button.enabled:hover {
    color: var(--button-hover-color);
    background: var(--button-hover-bg-color);
    border-color: var(--button-hover-border-color);
}

.button.selected {
    color: var(--button-selected-color);
    background: var(--button-selected-bg-color);
    border-color: var(--button-selected-border-color);
}

.button.disabled,
.button[disabled] {
    color: var(--button-disabled-color);
    background: var(--button-disabled-bg-color);
    border-color: var(--button-disabled-border-color);
}