:root {
        --primary-01: #ced1ea;
        --primary-02: #aeb2db;
        --primary-03: #858cca;
        --primary-04: #5c65b8;
        --primary-05: #343ea6;
        --primary: #0b1894;
        --primary-06: #09147b;
        --primary-07: #071063;
        --primary-08: #060c4a;
        --primary-09: #040831;
        --primary-10: #02051e;

        --secondary-01: #d5e0ee;
        --secondary-02: #b9cce2;
        --secondary-03: #96b3d4;
        --secondary-04: #7299c5;
        --secondary-05: #4f80b7;
        --secondary: #2c66a8;
        --secondary-06: #25558c;
        --secondary-07: #1d4470;
        --secondary-08: #163354;
        --secondary-09: #0f2238;
        --secondary-10: #091422;

        --tertiary-01: #ddeffa;
        --tertiary-02: #c6e5f6;
        --tertiary-03: #aad8f2;
        --tertiary-04: #8ecbee;
        --tertiary-05: #71bee9;
        --tertiary: #55b1e5;
        --tertiary-06: #4794bf;
        --tertiary-07: #397699;
        --tertiary-08: #2b5973;
        --tertiary-09: #1c3b4c;
        --tertiary-10: #11232e;

        --accent-01: #e4f5f3;
        --accent-02: #d2efec;
        --accent-03: #bbe7e2;
        --accent-04: #a4dfd8;
        --accent-05: #8ed7cf;
        --accent: #77cfc5;
        --accent-06: #63ada4;
        --accent-07: #4f8a83;
        --accent-08: #3c6863;
        --accent-09: #284542;
        --accent-10: #182927;

        --neutral-01: #f6f6f6;
        --neutral-02: #f0f0f0;
        --neutral-03: #e9e9e9;
        --neutral-04: #e2e2e2;
        --neutral-05: #dadada;
        --neutral: #d3d3d3;
        --neutral-06: #b0b0b0;
        --neutral-07: #8d8d8d;
        --neutral-08: #6a6a6a;
        --neutral-09: #464646;
        --neutral-10: #2a2a2a;
    
}