:root {
    --h1-font-size: 48px;
    --h2-font-size: 40px;
    --h3-font-size: 36px;
    --h4-font-size: 28px;
  
    --default-font-size: 16px;
  
    --secondary-font-size: 14px;
  
    --tertiary-font-size: 12px;
  }
  