.footer {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 20px;
    background-color: var(--primary);
    color: white;
  }
  
  .footer-column {
    flex: 1; 
    padding: 10px;
  }
  
  .footer-logo {
    max-width: 100px; 
    height: auto;
  }
  
  .footer-column h4 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .footer-column p {
    font-size: 14px;
  }
  