/* static/css/nav-bar.css */
.navbar {
    background-color: var(--blue);
    padding: 1rem;
}

.navbar a {
    color: var(--neutral-01);
    font-size: var(--subtitle-font-size);
    text-decoration: none;
    margin-right: 1.5rem;
}

.navbar a:hover {
    color: var(--blue-02);
}

.navbar ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
    display: flex; 
}

.navbar li {
    margin-right: 1.5rem;
}