{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="stylesheet" href="{% static 'css/colors.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav-bar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/icon.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">

    {% block styles %}{% endblock %}

    <title>{% block title %}Magis Air{% endblock %}</title>
</head>
<body>
    <header>
        <div class="navbar-container">
            <a href="{% url 'home' %}">
                <img src="{% static 'icons/magis air.svg' %}" alt="Magis Air Logo" class="logo">
            </a>
            <nav class="navbar">
                <ul>
                    <li><a href="{% url 'home' %}"><img src="{% static 'icons/home.svg' %}" alt="Home Icon" class="icon">Home</a></li>
                    <li><a href="{% url 'crew_assignments:crew_list' %}"><img src="{% static 'icons/user list.svg' %}" alt="Crew Icon" class="icon">Crew Assignments</a></li>
                    <li><a href="{% url 'flight_routes:flight_list' %}"><img src="{% static 'icons/map.svg' %}" alt="Routes Icon" class="icon">Flight Routes</a></li>
                    <li><a href="{% url 'flight_schedules:flight_schedule_list' %}"><img src="{% static 'icons/calendar.svg' %}" alt="Schedules Icon" class="icon">Flight Schedules</a></li>
                    <li><a href="{% url 'flight_booking:booking_list' %}">Bookings</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <!--<footer>
        <p>&copy; 2024 Magis Air</p>
    </footer>-->
</body>
</html>
