{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="stylesheet" href="{% static 'css/global.css' %}" />

    <link rel="stylesheet" href="{% static 'css/nav-bar.css' %}" />

    <link rel="stylesheet" href="{% static 'css/colors.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />

    <title>{% block title %}Magis Air{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Magis Air</h1>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li> <!-- Link to the homepage -->
                <li><a href="{% url 'crew_assignments:crew_list' %}">Crew Assignments</a></li>
                <li><a href="{% url 'flight_routes:flight_list' %}">Flight Routes</a></li>
                <li><a href="{% url 'flight_schedules:flight_schedule_list' %}">Flight Schedules</a></li>
                <li><a href="{% url 'flight_booking:booking_list' %}">Bookings</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <p>&copy; 2024 Magis Air</p>
    </footer>
</body>
</html>
