{% extends "base.html" %}

{% load static %}

{% block title %}Home - Magis Air{% endblock %}
{% block styles %}
<style>
    body {
        background-color: var(--tertiary-01);
        position: relative;
    }

    .home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .hometxt {
        flex: 1;
        padding-left: 6rem;
        padding-bottom: 8rem;
        max-width: 60%; 
        margin-left: 40px;
        text-align: left;
    }

    .hometxt .header {
        color: var(--primary);
        line-height: 1.2; 
    }

    .hometxt .header + .header {
        margin-top: 1px; 
    }


    .image-container {
        flex: 0 0 auto; 
        display: flex;
    }

    .image-container img {
        height: auto;
        width: auto;
        object-fit: cover;
    }
</style>
{% endblock %}
{% block content %}
<div class="home">
    <div class ="hometxt">
        <h1 class="header">Fly the Eagle way</h1> <!-- Not sure if this should be header because it should be in the left side -->
        <h1 class="header">with Magis Air</h1>
        <a href="{% url 'flight_schedules:flight_schedule_list' %}">
            <button class="button primary filled" type="button">CHECK FLIGHT SCHEDULES</button> 
        </a>
    </div>
    <div class="image-container">
        <img src="{% static 'img/home_img.png' %}" alt="Home Image">
    </div> 
</div>
{% endblock %}