{% extends "base.html" %}

{% block title %}Flights{% endblock %}

{% block styles %}
<style>
    #flightroutes {
        background-color: var(--neutral-01);
        margin-left: 5rem;
        margin-right: 5rem;
    }
    #flightroutes .header{
        color: var(--blue-08);
    }

    #flightroutes table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    
    #flightroutes th, td {
        padding: 10px;
        text-align: left;
        border: 1px solid #ddd;
    }
    
    #flightroutes th {
        background-color: var(--neutral-01);
        color: var(--blue-07);
    }
    
    #flightroutes a {
        text-decoration: none;
    }
    
    #flightroutes a:hover {
        text-decoration: underline;
    }
    
</style>
{% endblock %}

{% block content %}
<div id="flightroutes">
    <h2 class="header">Available Flight Routes</h2>
    
     <!-- Table to display flight information -->
     <table>
        <thead>
            <tr>
                <th>Flight ID</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Travel Duration</th>
                <th>Departure Time</th>
                <th>Actions</th> <!-- For Edit and Delete links -->
            </tr>
        </thead>
        <tbody>
            {% for flight in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'flight_routes:flight_detail' flight.pk %}">
                            {{ flight.flight_id }}
                        </a>
                    </td>
                    <td>{{ flight.origin }}</td>
                    <td>{{ flight.destination }}</td>
                    <td>{{ flight.travel_duration }}</td>
                    <td>{{ flight.departure_time }}</td>
                    <td>
                        <a href="{% url 'flight_routes:flight_update' flight.pk %}">Edit</a> |
                        <a href="{% url 'flight_routes:flight_delete' flight.pk %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'flight_routes:flight_create' %}">Add New Flight</a>
</div>
{% endblock %}
