{% extends "base.html" %}

{% load static %}

{% block styles %}
<style>
    body {
        background-color: var(--tertiary-01);
        position: relative;
    }

    #top-right-svg,
    #bottom-left-svg {
        position: absolute;
        z-index: -1; 
    }

    #top-right-svg {
        position: fixed;
        top: 0;
        right: 0;
    }

    #bottom-left-svg {
        position: fixed;
        transform: scaleX(-1);
        bottom: 0;
        left: 0;
    }

    #flightroutes {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 3.5rem;
        text-align: center;
    }
    #flightroutes .header{
        color: var(--primary-08);
    }
    
    #flightroutes a {
        text-decoration: none;
    }
    
    #flightroutes a:hover {
        text-decoration: underline;
    }

    #flightroutes button {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 4px;
    }

</style>
{% endblock %}

{% block title %}Flight Form{% endblock %}

{% block content %}
<div id="flightroutes">
    <img id="top-right-svg" src="{% static 'svg/continent.svg' %}" alt="Top Right Continent" />
    <img id="bottom-left-svg" src="{% static 'svg/continent.svg' %}" alt="Bottom Left Continent" />

    <h2 class="header">{% if object %}Update{% else %}Add{% endif %} New Flight</h2>
    <form method="post">
        {% csrf_token %}
        <p><strong>Flight ID:</strong>
            <input type="text" id="id_flight_id" name="flight_id" value="{{ form.flight_id.value }}" readonly class="form-control">
        </p>
        <p><strong>Origin:</strong> {{ form.origin }}</p>
        <p><strong>Destination:</strong> {{ form.destination }}</p>
        <p><strong>Travel Duration:</strong> {{ form.travel_duration_hours }} hours and {{ form.travel_duration_minutes }} minutes</p>
        {% if form.travel_duration_hours.errors %}
            <ul class="errorlist">
                {% for error in form.travel_duration_hours.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if form.travel_duration_minutes.errors %}
            <ul class="errorlist">
                {% for error in form.travel_duration_minutes.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p><strong>Departure Time:</strong> {{ form.departure_time }}</p>
        <button type="submit" class="button primary filled" >Save</button>
        <a href="{% url 'flight_routes:flight_list' %}">
            <button class="button tertiary filled" type="button">Cancel</button> 
        </a>
    </form>
</div>
{% endblock %}
