{% extends "base.html" %}

{% load static %}

{% block styles %}
<style>
    body {
        background-color: var(--tertiary-01);
        position: relative;
    }

    #top-right-svg,
    #bottom-left-svg {
        position: absolute;
        z-index: -1;
    }

    #top-right-svg {
        position: fixed;
        top: 0;
        right: 0;
    }

    #bottom-left-svg {
        position: fixed;
        transform: scaleX(-1);
        bottom: 0;
        left: 0;
    }

    #flightroutes {
        padding: 3.5rem 5rem;
        text-align: center;
    }

    #flightroutes .header {
        color: var(--primary-08);
        margin-bottom: 1.5rem;
    }

    .details-grid {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 2rem; 
        justify-content: center; 
        text-align: left;
    }

    .details-column {
        padding: 0.5rem; 
    }

    .details-container {
        background-color: var(--neutral-01);
        border-radius: 15px;
        padding: 2rem;
        margin: auto;
        width: 60%; 
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .details-column p {
        font-size: 1.1rem;
        margin-bottom: 1rem;
        color: black;
    }

    .details-column p strong {
        color: var(--primary-08);
    }

    #flightroutes a {
        text-decoration: none;
    }

    #flightroutes a:hover {
        text-decoration: underline;
    }

    #flightroutes button {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 4px;
    }
</style>

{% endblock %}

{% block title %}Flight Details{% endblock %}

{% block content %}
<div id="flightroutes">
    <img id="top-right-svg" src="{% static 'svg/continent.svg' %}" alt="Top Right Continent" />
    <img id="bottom-left-svg" src="{% static 'svg/continent.svg' %}" alt="Bottom Left Continent" />

    <h2 class="header">Flight Details</h2>

    <div class="details-container">
        <div class="details-grid">
            
            <div class="details-column">
                <p><strong>Flight ID:</strong> {{ flight.flight_id }}</p>
                <p><strong>Origin:</strong> {{ flight.origin }}</p>
                <p><strong>Destination:</strong> {{ flight.destination }}</p>
            </div>
    
            <div class="details-column">
                <p><strong>Travel Duration:</strong> {{ flight.travel_duration_hours }} hours and {{ flight.travel_duration_minutes }} minutes</p>
                <p><strong>Departure Time:</strong> {{ flight.departure_time|date:"H:i" }}</p>
                <p><strong>Arrival Time:</strong> {{ flight.arrival_time }}</p>
            </div>
        </div>
    </div>

    <a href="{% url 'flight_routes:flight_list' %}">
        <button class="button primary filled" type="button">Back to Flight List</button>
    </a>
</div>
{% endblock %}