{% extends "base.html" %}

{% load static %}

{% block title %}Flight Schedules{% endblock %}
{% block styles %}
<style>
    body {
        background-color: var(--tertiary-01);
        position: relative;
    }

    #plane,
    #passport {
        position: absolute;
        z-index: -1; 
        overflow: hidden;
        max-width: 100%; 
        height: auto;
    }

    #plane {
        position: fixed;
        top: 0;
        right: -2;
    }

    #passport {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    #sched {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 3.5rem;
        text-align: center;
        overflow: hidden;
    }

    #sched .header{
        color: var(--primary-08);
    }

    #sched table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: var(--neutral-01);
        border-radius: 15px;
    }
    
    #sched th, td {
        padding: 25px;
        text-align: left;
        border: none;
    }
    
    #sched th {
        color: var(--primary-07);
    }
    
    #sched a {
        text-decoration: none;
    }
    
    #sched a:hover {
        text-decoration: underline;
    }

    #sched button {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 4px;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
    }

    .sched-form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .sched-form .form-group {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .sched-form input,
    .sched-form button {
        padding: 0.5rem 1rem;
        border-radius: 5px;
        border: 1px solid var(--neutral-02);
    }

    .sched-form button:hover {
        background-color: var(--primary-07);
    }

    .spacer {
        border-left: 2px solid var(--secondary-10);
        height: 30px; /* Matches input box height */
    }

</style>
{% endblock %}

{% block content %}
<div id="sched">
    <img id="plane" src="{% static 'img/plane.png' %}" alt="Top Right Plane" />
    <img id="passport" src="{% static 'img/passport.png' %}" alt="Bottom Left Passport" />

    <h1 class="header">Available Flight Schedules</h1>

    <!-- Filter Form -->
    <form method="get">
        <div class="sched-form">
            <div class="form-group">
                <label for="schedule_id"><strong>Input Schedule ID:</strong></label>
                <input type="text" id="schedule_id" name="schedule_id" value="{{ request.GET.schedule_id }}">
            </div>

            <div class="spacer"></div>

            <div class="form-group">
                <label for="date"><strong>Select Date:</strong></label>
                <input type="date" id="date" name="date" value="{{ request.GET.date }}">
            </div>

            <button type="submit" class="button primary filled">Search</button>
        </div>
    </form>

    <!-- Table to display flight schedules -->
    <table>
        <thead>
            <tr>
                <th>Schedule ID</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for schedule in flight_schedules %}
                <tr>
                    <td>{{ schedule.schedule_id }}</td>
                    <td>{{ schedule.date }}</td>
                    <td>
                        <a href="{% url 'flight_schedules:flight_schedule_update' schedule.pk %}">
                            <button class="button primary filled" type="button">Edit</button>
                        </a>
                        <a href="{% url 'flight_schedules:flight_schedule_delete' schedule.pk %}">
                            <button class="button tertiary filled" type="button">Delete</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'flight_schedules:flight_schedule_create' %}">
        <button class="button primary filled" type="button">Add New Schedule</button>
    </a>
</div>
{% endblock %}