{% extends "base.html" %}

{% load static %}

{% block styles %}
<style>
    body {
        background-color: var(--tertiary-01);
        position: relative;
    }

    .addsched {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 3.5rem;
        text-align: center;
    }
    .addsched .header{
        color: var(--primary-08);
    }
    
    .addsched a {
        text-decoration: none;
    }
    
    .addsched a:hover {
        text-decoration: underline;
    }

    .addsched button {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 4px;
    }


</style>
{% endblock %}

{% block title %}Flight Schedule Form{% endblock %}

{% block content %}
<div class="addsched"> 
    <div class="image-container">
        <img src="{% static 'img/flight_route_add.png' %}" alt="Flight Image">
    </div>
    <h2 class="header">{% if object %}Update{% else %}Add New{% endif %} Flight Schedule</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <fieldset>
            <legend><strong>Select Crew Members</strong></legend>
            {% for crew in crew_members %}
                <label>
                    <input type="checkbox" name="crew_members" value="{{ crew.crew_id }}"
                        {% if crew in selected_crew_members %}checked{% endif %}>
                    {{ crew.crew_id }} - {{ crew.role }}
                </label><br>
            {% endfor %}
        </fieldset>
        <button type="submit" class="button primary filled" >Save</button>
        <a href="{% url 'flight_schedules:flight_schedule_list' %}">
            <button class="button tertiary filled" type="button">Cancel</button> 
        </a>
        </form>
</div>
{% endblock %}
