{% extends "base.html" %}

{% load static %}

{% block title %}Flight Schedules{% endblock %}
{% block styles %}
<style>
    body {
        background-color: var(--tertiary-01);
        position: relative;
    }

    #top-right-svg,
    #bottom-left-svg {
        position: absolute;
        z-index: -1; 
        overflow: hidden;
        max-width: 100%; /* Ensure they don't exceed their container */
        height: auto;
    }

    #top-right-svg {
        position: fixed;
        top: 0;
        right: 0;
    }

    #bottom-left-svg {
        position: fixed;
        transform: scaleX(-1);
        bottom: 0;
        left: 0;
    }

    #sched {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 3.5rem;
        text-align: center;
        overflow: hidden;
    }

    #sched .header{
        color: var(--primary-08);
    }

    #sched table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: var(--neutral-01);
        border-radius: 15px;
    }
    
    #sched th, td {
        padding: 25px;
        text-align: left;
        border: none;
    }
    
    #sched th {
        color: var(--primary-07);
    }
    
    #sched a {
        text-decoration: none;
    }
    
    #sched a:hover {
        text-decoration: underline;
    }

    #sched button {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 4px;
    }

</style>
{% endblock %}
{% block content %}
<div id="sched">
    <img id="top-right-svg" src="{% static 'svg/continent.svg' %}" alt="Top Right Continent" />
    <img id="bottom-left-svg" src="{% static 'svg/continent.svg' %}" alt="Bottom Left Continent" />
    <h1 class="header">Available Flight Schedules</h1>

    <!-- Table to display crew information -->
    <table>
        <thead>
            <tr>
                <th>Schedule ID</th>
                <th>Date</th>
                <th>Actions</th> <!-- For Edit and Delete links -->
            </tr>
        </thead>
        <tbody>
            {% for schedule in object_list %}
                <tr>
                    <!-- Schedule ID -->
                    <td>{{ schedule.schedule_id }}</td>

                    <!-- Role -->
                    <td>{{ schedule.date }}</td>
                    
                    <!-- Actions -->
                    <td>
                        <a href="{% url 'flight_schedules:flight_schedule_update' schedule.pk %}">
                            <button class="button primary filled" type="button">Edit</button>
                        </a>
                        <a href="{% url 'flight_schedules:flight_schedule_delete' schedule.pk %}">
                            <button class="button tertiary filled" type="button">Delete</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'flight_schedules:flight_schedule_create' %}">
        <button class="button primary filled" type="button">Add New Schedule</button>
    </a>
</div>
{% endblock %}
